
@import "tailwindcss";


.container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 10px;
}

.brand-gradient {
  mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}